rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow read access to all images for all users
    match /{allPaths=**} {
      allow read: if true;
      // Only admin can write to storage
      allow write: if request.auth != null && 
        firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }
  }
}